In [3]:
l=[1,5,2,6,3,6]
sorted(l)

[1, 2, 3, 5, 6, 6]

dir(l)

In [5]:
reverse(l)

NameError: name 'reverse' is not defined

In [6]:
l.reverse()

In [7]:
print(l)

[6, 3, 6, 2, 5, 1]

#### Today's Topics

#### Python Collections

### List
### Tuple 
### Dictinories
### Sets

In [8]:
# Sets
 # - Tuple is denoted with () or tuple()
#  - Tuple is immutable(can't change)

In [9]:
t1 = ()
print(type(t1))

<class 'tuple'>

In [10]:
print(t1)

()

In [11]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [12]:
a = ('name','age','email','name')
print(a)

('name', 'age', 'email', 'name')

In [14]:
a[0]

'name'

In [15]:
a[1:]

('age', 'email', 'name')

In [16]:
a[::-1] # Reverse

('name', 'email', 'age', 'name')

In [17]:
print(a)

('name', 'age', 'email', 'name')

In [18]:
a.count("email")

1

In [19]:
a.count("name")

2

In [22]:
a.index("name",1)

3

In [24]:
a = ('name','email','phone')
b = list(a)
print(b)

['name', 'email', 'phone']

In [25]:
b[2]="mobile"
a =tuple(b)
print(a)

('name', 'email', 'mobile')

In [44]:
# packing and unpacking tuple

x = ("APSSDC",2422,"Trainer",40000) # Tuple Packing
(company,emp_id,profile,salary) = x # Tuple Unpacked
print(company)

APSSDC

In [45]:
print(salary)

40000

In [30]:
print(a)

('name', 'email', 'mobile')

In [31]:
del a

In [32]:
print(a)

NameError: name 'a' is not defined

In [35]:
# Tuple Membership Test
t2 = (1,2,3,4,5,6,2,3,4,5,6,6)
print(1 in t2)

True

In [34]:
print(10 in t2)

False

In [36]:
print(t2)

(1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 6)

sorted(t2)

In [38]:
print(sorted(t2))

[1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 6]

In [40]:
print(max(t2))

6

In [41]:
len(t2)

12

In [42]:
tuple()

()

### Dictinory
- it is having key,value pair
- it is mutable like list
- denoted with {key:value} or dict()

In [46]:
s = {} # Empty Dictionary
print(type(s))

<class 'dict'>

In [47]:
s = {"name":"Prasanna Raj","empid":2422,"company":"APSSDC","location":"Vijayawada"}
print(s)

{'name': 'Prasanna Raj', 'empid': 2422, 'company': 'APSSDC', 'location': 'Vijayawada'}

In [51]:
dir(s)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [49]:
s.keys()

dict_keys(['name', 'empid', 'company', 'location'])

In [50]:
s.values()

dict_values(['Prasanna Raj', 2422, 'APSSDC', 'Vijayawada'])

In [52]:
dict()

{}

In [53]:
s.items()

dict_items([('name', 'Prasanna Raj'), ('empid', 2422), ('company', 'APSSDC'), ('location', 'Vijayawada')])

In [55]:
s.pop("company")

'APSSDC'

In [56]:
print(s)

{'name': 'Prasanna Raj', 'empid': 2422, 'location': 'Vijayawada'}

In [60]:
s.popitem()

('empid', 2422)

In [61]:
print(s)

{'name': 'Prasanna Raj'}

In [64]:
s.get("name")

'Prasanna Raj'

In [63]:
print(s)

{'name': 'Prasanna Raj'}

In [65]:
# Add element into dict

print(s)

{'name': 'Prasanna Raj'}

In [67]:
s['Qualification']='Mtech'
print(s)

{'name': 'Prasanna Raj', 'Qualificatio': 'Mtech', 'Qualification': 'Mtech'}

In [68]:
s["name"]="Prasanna Raj M"

In [69]:
print(s)

{'name': 'Prasanna Raj M', 'Qualificatio': 'Mtech', 'Qualification': 'Mtech'}

In [70]:
s.clear()

In [71]:
print(s)

{}

In [72]:
del s

In [73]:
print(s)

NameError: name 's' is not defined

In [74]:
# Copy() - method returns a shallow copy of the dictinory

# Syntax : dict.copy()

a = {1:1429,2:2422,3:26}
b = {1:'One',2:"Two",3:'Three'}
print(a,b)

{1: 1429, 2: 2422, 3: 26} {1: 'One', 2: 'Two', 3: 'Three'}

In [75]:
a=b.copy()
print(a)

{1: 'One', 2: 'Two', 3: 'Three'}

In [76]:
print(b)

{1: 'One', 2: 'Two', 3: 'Three'}

In [77]:
c = {}
d = {1:"Prasanna raj",2:"Gk Raja",3:"Ramu",4:"Subba Reddy"}
c=d.copy()
print(c)

{1: 'Prasanna raj', 2: 'Gk Raja', 3: 'Ramu', 4: 'Subba Reddy'}

In [78]:
print(d)

{1: 'Prasanna raj', 2: 'Gk Raja', 3: 'Ramu', 4: 'Subba Reddy'}

In [79]:
x = {'Name':"Prasanna Raj","Id":2422}
y = x
print(y)

{'Name': 'Prasanna Raj', 'Id': 2422}

In [80]:
print(x)

{'Name': 'Prasanna Raj', 'Id': 2422}

In [82]:
# dict.Update([other])
x = {1:12,2:24,3:36}
y = {4:40}
x.update(y)

In [83]:
print(x)

{1: 12, 2: 24, 3: 36, 4: 40}

In [84]:
print(y)

{4: 40}

In [85]:
#setdefault()

x

{1: 12, 2: 24, 3: 36, 4: 40}

In [88]:
x.setdefault(6,None)
print(x)

{1: 12, 2: 24, 3: 36, 4: 40, 5: None, 6: None}

In [89]:
# square value using dict concept

# sample output{0:0,1:1,2:4,3:9,4:16}

In [98]:
s={}
for i in range (7):
    y={i:i*i}
    s.update(y)
    y.clear()
print(s)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [99]:
d = dict()
for i in range(6):
    d[i]=i**2
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [100]:
dsqv = {}
#print(dsqv)
n = int(input('Enter a number::'))
for i in range(n):
    dsqv[i]=i*i
print(dsqv)

Enter a number::10
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [103]:
n = int(input('Enter a number::'))
numbers = {} 
for i in range(n+1):
    numbers[i] = i * i
print(numbers)

Enter a number::2
{0: 0, 1: 1, 2: 4}

In [104]:
# Dictinory comprehension

In [112]:
suqres = {x:x*x for x in range(5)}
print(suqres)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [113]:
squres = {}
for i in range(5):
    squres[i]=i*i
print(squres)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [116]:
# Odd number suqres
# range(10)
d=dict()
for i in range(10):
    if i%2 != 0:
        d[i] = i**2
print(d)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [123]:
#num = 10
d={i:i**2 for i in range ( 1, 10,2)}
print(d)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [124]:
n = int(input('Enter a number::'))
dsqv1 = {i:i*i for i in range(n) if (i%2!=0)}
print(dsqv1)

Enter a number::10
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [129]:
t={}
for i in range(1,int(input("enter a number"))):
    if i%2!=0:
        t.update({i:i*i})

        
print(t)

enter a number10
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [135]:
# List Task
# input data
# using strings and list concept

a =" 'prasannaraj',14,22,24,'aviansh','gopi','ramu',29 "
a = a.split(",")

'''expected output: 
    ["prasannaraj",'aviansh','gopi','ramu']
    [14,29,26,22]
'''
names=[]
numbers=[]
for i in a:
    if i.isdigit():
        numbers.append(int(i))
    elif i.isalpha():
        names.append(i)
d = sum(numbers)
numbers.append(d)
print(names)
print(numbers)

[]
[14, 22, 24, 60]

In [136]:
a =['prasannaraj','avinash','gopi','ramu',14,29,26,22]
b=[]
c=[]
count=0
for i in a:
    if(str(i).isnumeric()):
        b.append(i)
    else:
        c.append(i)
print(c)
print(b)

['prasannaraj', 'avinash', 'gopi', 'ramu']
[14, 29, 26, 22]

In [137]:
a=['prasannaraj','avinash','gopi','ramu',14,29,26,22]
b=[]
c=[]
count=0
for i in a:
    if(type(i)==int):
        b.append(i)
    else:
        c.append(i)
print(c)
print(b)

['prasannaraj', 'avinash', 'gopi', 'ramu']
[14, 29, 26, 22]

In [140]:
b=[]
c=[]
a=["kab","raj","kiran",4,5,6,7]
for i in a:
    if isinstance(i,str):
        b.append(i)
    else:
        c.append(i)
print(b)
print(c)

['kab', 'raj', 'kiran']
[4, 5, 6, 7]

In [148]:
# write a program that gives longest string from list ig strings

names = ["prasannaraj","APSSDC",'ramu','raja','rama']

# ramu
longest_string = min(names)
print(longest_string,)

APSSDC

In [142]:
names=['prasanna raj','APPSDC','ramu','raja']
names.sort()
print(names[-1])

ramu

In [153]:
names=['prasannaraj','apssdc','ramu','raja']
for i in sorted(names): 
    print(i)
len(names)
print(names[-1])

apssdc
prasannaraj
raja
ramu
raja

In [154]:
print(names)

['prasannaraj', 'apssdc', 'ramu', 'raja']

In [155]:
names=['prasanna raj','APPSDC','ramu','raja']
print(sorted(names))
print(names)

['APPSDC', 'prasanna raj', 'raja', 'ramu']
['prasanna raj', 'APPSDC', 'ramu', 'raja']

In [157]:
names[-1] # backward indexing

'raja'